# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Virtual environments
lakbai_env/
venv/
env/

# Django static and media files
/staticfiles/
media/

# Environment variables
.env

# macOS and Windows system files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp
