*.pyc
__pycache__/
*.pyo
*.pyd
lakbai_env/
venv/
env/
db.sqlite3
*.sqlite3
/staticfiles/
media/
.env
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.log
*.pot
*.mo
*.swp
*.swo
*.tmp
*.py[cod]
